@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
    --color-primary: #9e1b1b;
    --color-secondary: #D1AA24;
    --color-tertiary: #c4c4c4;
    --color-dark: #000000;
    --color-light: #fff;
    --font-primary: "PT Sans";
    --font-secondary: "Lato";
}

body,
main {
    border: 0;
    outline: 0;
    font-size: 100%;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-family: var(--font-secondary);
    color: #111111;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    list-style-type: none;
}