@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
    --color-primary: #9e1b1b;
    --color-secondary: #D1AA24;
    --color-tertiary: #c4c4c4;
    --color-dark: #000000;
    --color-light: #fff;
    --font-primary: "PT Sans";
    --font-secondary: "Lato";
}

body,
main {
    border: 0;
    outline: 0;
    font-size: 100%;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-family: var(--font-secondary);
    color: #111111;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    list-style-type: none;
}


/* ----------------------------------------*/


/* ----- Hero Banner ----------------------*/


/* ----------------------------------------*/

#heroBanner {
    color: var(--color-dark);
    border-radius: 1em;
    margin: 10em auto 12em auto;
    text-align: left;
    max-width: 70%;
    display: block;
}

#heroBanner h1 {
    font-family: var(--font-primary);
    font-size: 3em;
    padding: 1em;
    font-weight: lighter;
    float: right;
}

#picAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
    padding: 1em;
    padding-bottom: 2em;
    width: 100%;
}

#words {
    margin-left: 1em;
}

#words h3 {
    font-size: 1.8em;
    margin-bottom: .25em;
}

#words h5 {
    font-weight: normal;
    font-size: 1em;
    margin-top: .25em;
}

#selfie {
    height: 14em;
    border-radius: 50%;
}


/* ----------------------------------------*/


/* ----- About ----------------------------*/


/* ----------------------------------------*/

#about {
    background-color: var(--color-primary);
    padding: 10em;
    padding-bottom: 15em;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h1 {
    font-size: xxx-large;
}

#about h1,
p {
    width: 50%;
}


/* ----------------------------------------*/


/* ----- Skills Area ----------------------*/


/* ----------------------------------------*/

#skills-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill {
    background-color: var(--color-light);
    padding: 2em 1em;
    padding-bottom: 3.5em;
    margin: .2em;
    margin-top: -7em;
    width: 25%;
    box-shadow: 0 4px 5px var(--color-tertiary);
}

.skill h5 {
    font-size: medium;
}


/* ----------------------------------------*/


/* ----- Projects -------------------------*/


/* ----------------------------------------*/

#project-history {
    padding: 2em;
    padding-top: 10em;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
}

.project {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 2em;
    width: 25%;
    height: 20%;
    border-radius: .7em;
    transition: all .2s ease-out;
}

button {
    border-radius: 2em;
    padding: .7em 1.5em;
    width: 70%;
    background-color: var(--font-primary);
    border: 2px solid var(--color-light);
    transition: all .3s ease-in;
    text-decoration: none;
    color: var(--color-light)
}

button:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: all .2s ease-in;
}

button:focus {
    outline: none;
}


/* ----------------------------------------*/


/* ----- Experience/Work ------------------*/


/* ----------------------------------------*/

#experience {
    margin-top: 6em;
}

#experience h1 {
    color: var(--color-dark);
    margin-bottom: 8em;
}

#work {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exp {
    background-color: var(--color-light);
    padding: 2em 1em;
    padding-bottom: 3.5em;
    margin: .2em;
    margin-top: -7em;
    width: 25%;
    box-shadow: 0 4px 5px var(--color-tertiary);
}